.root {
	-fx-base: #2F373F;
	-fx-background: -fx-base;
	-fx-control-inner-background: #1F2327;
}

.layer-graph > .viewport {
	-fx-background-image: url(/assets/themes/dark_cloth.png);
    -fx-background-repeat: repeat;
}

.text {
	-fx-tab-size: 4;
}

.selectable {
	-fx-background-color: #1F2327;
	-fx-text-fill: white;
}

.selectable:selected {
	-fx-background-color: #00477F;
	-fx-text-fill: white;
}

.phantom-button {
	-fx-text-fill: #7F7F7F;
}

.phantom-button:hover {
	-fx-text-fill: #FFFFFF;
}

.checkerboards {
	-fx-background-image: url(/assets/themes/dark_checkerboard.png);
    -fx-background-repeat: repeat;
}

.popout-borders {
	-fx-border-color: #4F575F #000000 #000000 #4F575F;
	-fx-border-insets: 4;
	-fx-border-width: 3;
}

.popin-borders {
	-fx-border-color: #000000 #4F575F #4F575F #000000;
	-fx-border-insets: 4;
	-fx-border-width: 3;
}