.root {
	-fx-base: #2F373F;
	-fx-background: -fx-base;
	-fx-control-inner-background: #1F2327;
}

.popover > .border {
	-fx-fill: -fx-base;
}

.layer-graph > .viewport {
	-fx-background-image: url(/assets/themes/dark_cloth.png);
    -fx-background-repeat: repeat;
}

.bounds-handling-preview {
	-fx-border-insets: 2;
	-fx-border-width: 4;
	-fx-border-radius: 4;
	-fx-border-color: -fx-background;
}

.bounds-handling-preview:hover {
	-fx-border-color: #5F6F7F;
}

.bounds-handling-preview:selected {
	-fx-border-color: #0077BF;
}

.bounds-handling-preview:hover:selected {
	-fx-border-color: #0077BF;
}

.text {
	-fx-tab-size: 4;
}

.layer-progress {
	-fx-fill: linear-gradient(from 0% 0% to 0% 100%, #3FBF3F 0%, #007F00 100%);
}

.selectable {
	-fx-background-color: #1F2327;
	-fx-text-fill: white;
}

.selectable:selected {
	-fx-background-color: #00477F;
	-fx-text-fill: white;
}

.phantom-button {
	-fx-text-fill: #7F7F7F;
}

.phantom-button:hover {
	-fx-text-fill: #FFFFFF;
}

.checkerboards {
	-fx-background-image: url(/assets/themes/dark_checkerboard.png);
    -fx-background-repeat: repeat;
}

.popout-borders {
	-fx-border-color: #4F575F #000000 #000000 #4F575F;
	-fx-border-insets: 4;
	-fx-border-width: 3;
}

.popin-borders {
	-fx-border-color: #000000 #4F575F #4F575F #000000;
	-fx-border-insets: 4;
	-fx-border-width: 3;
}