.root {
	-fx-base: #EFF3F7;
	-fx-background: -fx-base;
	-fx-control-inner-background: #FFFFFF;
}

.layer-graph > .viewport {
	-fx-background-image: url(/assets/themes/light_cloth.png);
    -fx-background-repeat: repeat;
}

.text {
	-fx-tab-size: 4;
}

.selectable {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
}

.selectable:selected {
    -fx-background-color: derive(-fx-accent, 90%);
    -fx-text-fill: black;
}

.phantom-button {
	-fx-text-fill: #7F7F7F;
}

.phantom-button:hover {
	-fx-text-fill: #000000;
}

.checkerboards {
	-fx-background-image: url(/assets/themes/light_checkerboard.png);
	-fx-background-repeat: repeat;
}

.popout-borders {
	-fx-border-color: #FFFFFF #BFC3C7 #BFC3C7 #FFFFFF;
	-fx-border-insets: 4;
	-fx-border-width: 3;
}

.popin-borders {
	-fx-border-color: #BFC3C7 #FFFFFF #FFFFFF #BFC3C7;
	-fx-border-insets: 4;
	-fx-border-width: 3;
}